Repository EddieTheCubeHead/Stagnum, pull requests merged in 2024-04, with the labels that each got.

#165 144 subtask refine pool component based on new designs
  client/app/page.tsx
  client/components/layout/cards/mainHeaderCard.tsx
  client/components/layout/cards/poolCollectionCard.tsx
  client/components/layout/cards/poolTrackCard.tsx
  client/components/layout/expandedPoolManager.tsx
  client/components/layout/expandedSearchContent.tsx
  client/components/layout/managePool.tsx
  client/components/layout/poolManager.tsx
  client/components/layout/search.tsx
  client/types/albumTypes.ts
  client/types/trackTypes.ts
Labels: client

#191 Update outdated packages from client
  client/package.json
Labels: bug

#192 178 refactor frontend codebase
  client/.eslintrc.json
  client/app/about/page.tsx
  client/app/layout.tsx
  client/app/login/page.tsx
  client/app/page.tsx
  client/app/pool/page.tsx
  client/app/utils/mockData.ts
  client/app/utils/theme.ts
  client/components/buttons/altButton.tsx
  client/components/buttons/defaulButton.tsx
  client/components/buttons/iconButtons/addToPoolButton.tsx
  client/components/buttons/iconButtons/collapseIconButton.tsx
  client/components/buttons/iconButtons/deleteButton.tsx
  client/components/buttons/iconButtons/showMoreIconButton.tsx
  client/components/buttons/negativeButton.tsx
  client/components/buttons/skipButton.tsx
  client/components/layout/albumCard.tsx
  client/components/layout/footer.tsx
  client/components/lists/PoolList.tsx
  client/components/lists/PoolListItem.tsx
  client/components/poolInput.tsx
  client/components/poolmanagerComponents/poolCollectionCard.tsx
  client/components/poolmanagerComponents/poolManager.tsx
  client/components/poolmanagerComponents/poolTrackCard.tsx
  client/components/searchComponents/cards/albumCard.tsx
  client/components/searchComponents/cards/artistCard.tsx
  client/components/searchComponents/cards/mainHeader.tsx
  client/components/searchComponents/cards/playlistCard.tsx
  client/components/searchComponents/cards/trackCard.tsx
  client/components/searchComponents/expandedSearchContent.tsx
  client/components/searchComponents/search.tsx
  client/components/searchComponents/searchInput.tsx
  client/components/textComponents.tsx
  client/components/theme.ts
  client/components/types.ts
  client/css/customScrollBar.css
  client/types/albumTypes.ts
  client/types/artistTypes.ts
  client/types/playlistTypes.ts
  client/types/poolTypes.ts
  client/types/trackTypes.ts
Labels: client

#218 Bugfix: Client doesn't reroute at start
  client/app/page.tsx
  client/package.json
Labels: bug, client

#227 Improved logo
  client/app/page.tsx
  client/components/searchComponents/cards/mainHeader.tsx
Labels: client, design

#259 fixed entrypoint.sh
  client/entrypoint.sh
Labels: bug

#260 run prettier
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  client/app/page.tsx
  client/components/poolmanagerComponents/poolManager.tsx
  client/package.json
Labels: bug, infrastructure

#257 250 color changes
  client/app/page.tsx
  client/components/buttons/iconButtons/addToPoolButton.tsx
  client/components/buttons/iconButtons/collapseIconButton.tsx
  client/components/buttons/iconButtons/deleteButton.tsx
  client/components/buttons/iconButtons/showMoreIconButton.tsx
  client/components/customInput.tsx
  client/components/poolmanagerComponents/poolCollectionCard.tsx
  client/components/poolmanagerComponents/poolTrackCard.tsx
  client/components/searchComponents/cards/albumCard.tsx
  client/components/searchComponents/cards/artistCard.tsx
  client/components/searchComponents/cards/playlistCard.tsx
  client/components/searchComponents/cards/trackCard.tsx
  client/components/searchComponents/searchInput.tsx
  client/components/theme.ts
Labels: client, design

#265 241 add log out button
  client/app/page.tsx
  client/components/buttons/iconButtons/addToPoolButton.tsx
  client/components/buttons/iconButtons/deleteButton.tsx
  client/components/buttons/iconButtons/showMoreIconButton.tsx
  client/components/layout/footer.tsx
  client/components/poolmanagerComponents/poolManager.tsx
  client/components/searchComponents/search.tsx
Labels: feature, client

#277 181 confirmation for succesful actions in pool management
  client/app/login/page.tsx
  client/app/page.tsx
  client/components/alertComponent.tsx
  client/components/buttons/iconButtons/addToPoolButton.tsx
  client/components/buttons/iconButtons/deleteButton.tsx
  client/components/buttons/iconButtons/showMoreIconButton.tsx
  client/components/buttons/iconButtons/skipButton.tsx
  client/components/layout/footer.tsx
  client/components/poolmanagerComponents/poolCollectionCard.tsx
  client/components/poolmanagerComponents/poolManager.tsx
  client/components/poolmanagerComponents/poolTrackCard.tsx
  client/components/searchComponents/cards/albumCard.tsx
  client/components/searchComponents/cards/artistCard.tsx
  client/components/searchComponents/cards/playlistCard.tsx
  client/components/searchComponents/cards/trackCard.tsx
  client/components/searchComponents/expandedSearchContent.tsx
  client/components/searchComponents/search.tsx
Labels: feature, client

#281 279 subtask allow copying the share code to clip board
  client/components/poolmanagerComponents/poolManager.tsx
Labels: feature, client

#287 283 small search bar improvements
  client/components/poolInput.tsx
  client/components/searchComponents/search.tsx
Labels: client, design

#298 Dropped specifications for aws machines to realistic values
  infra/main.tf
Labels: good first issue
