Repository EddieTheCubeHead/Stagnum, pull requests merged in 2024-03, with the labels that each got.

#86 Added some testing pipelines
  .github/workflows/backend-ci.yml
  .github/workflows/docker-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/security.yml
  client/__tests__/__snapshots__/page.test.tsx.snap
  client/__tests__/page.test.tsx
  client/tsconfig.json
Labels: technical work, infrastructure

#120 Removed poc code
  poc-client/.eslintrc.json
  poc-client/.gitignore
  poc-client/README.md
  poc-client/app/auth/callback/page.tsx
  poc-client/app/favicon.ico
  poc-client/app/globals.css
  poc-client/app/layout.tsx
  poc-client/app/page.tsx
  poc-client/app/play/page.tsx
  poc-client/next.config.mjs
  poc-client/package.json
  poc-client/postcss.config.js
  poc-client/public/next.svg
  poc-client/public/vercel.svg
  poc-client/tailwind.config.ts
  poc-client/tsconfig.json
  poc/.gitignore
  poc/main.py
  poc/requirements.txt
Labels: good first issue

#139 76 improve port and url handling in the project
  README.md
  docker-compose.yml
Labels: bug

#140 Finally fixed stupid nextjs precompiling
  .gitignore
  client/Dockerfile
  client/README.md
  client/app/page.tsx
  client/app/pool/page.tsx
  client/entrypoint.sh
  docker-compose.yml
Labels: bug

#159 158 bugfix api return types are wrong
  client/components/layout/cards/albumCard.tsx
  client/components/layout/cards/artistCard.tsx
  client/components/layout/cards/playlistCard.tsx
  client/components/layout/cards/poolCard.tsx
  client/components/layout/cards/trackCard.tsx
  client/components/layout/footer.tsx
  client/types/albumTypes.ts
  client/types/artistTypes.ts
  client/types/playlistTypes.ts
  client/types/trackTypes.ts
Labels: bug, client

#161 160 bugfix current pool not showing
  client/app/page.tsx
  client/components/buttons/iconButtons/addToPoolButton.tsx
  client/components/buttons/iconButtons/deleteButton.tsx
  client/components/buttons/iconButtons/showMoreIconButton.tsx
  client/components/layout/cards/albumCard.tsx
  client/components/layout/cards/artistCard.tsx
  client/components/layout/cards/playlistCard.tsx
  client/components/layout/cards/poolCard.tsx
  client/components/layout/cards/trackCard.tsx
  client/components/layout/expandedSearchContent.tsx
  client/components/layout/managePool.tsx
  client/components/layout/search.tsx
  client/types/poolTypes.ts
Labels: bug, client
